@model PetCenter9.Models.Owners

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2>Delete Confirmation</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Are you sure you want to delete @Model.FirstName @Model.LastName?</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.OwnerPictureURL)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.OwnerPictureURL)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="OwnersId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



















